
/* Fonts */

@font-face {
    font-family: "Intel One Mono Bold";
    src: url("/IntelOneMono-Bold.woff2");
}

@font-face {
    font-family: "Intel One Mono Medium";
    src: url("/IntelOneMono-Medium.woff2");
}




/* Important tags and containers */

html, body, #root {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Intel One Mono Medium", monospace;
    color: rgb(220, 220, 220);
    z-index: 0;
}

#canvas-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}




/* Counter & text at top */

#counter-container {
    width: 100%;
    text-align: center;
    font-size: 1.7vw;
    margin-top: 0.5em;
}

#counter {
    font-family: "Intel One Mono Bold", monospace;
}




/* Background */

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(25, 25, 25);
    z-index: -1;
}




/* Sidebar */

#sidebar {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    width: 200px;
    z-index: 1;
}

#sidebar-toggle-button-container {
    height: 100%;
    width: 30%;
    display: flex;
}

#sidebar-toggle-button {
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.5);
    border: none;
    
    filter: opacity(0);
}

#sidebar-toggle-button:hover {
    /* filter: opacity(1); */
    animation: fade-in 0.5s linear forwards;
}

@keyframes fade-in {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

#sidebar-menu {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 75, 75);
}

.control-container {
    display: flex;
    flex-direction: column;
}

.control-button {
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: rgb(45, 45, 45);
    margin: 6px 6px 0 6px;
    padding: 6px;
    border: 2px solid rgb(115, 115, 115);
}

.control-button:hover {
    background-color: rgb(75, 75, 75);
    border: 2px solid rgb(45, 45, 45);
}

.control-button:active {
    background-color: rgb(45, 45, 45);
}

.control-button img {
    width: 18px;
}