:root {
    --dark-bg-color: rgb(25, 25, 25);
    --button-bg-color: rgb(45, 45, 45);
    --medium-bg-color: rgb(75, 75, 75);
    --light-bg-color: rgb(115, 115, 115);
}

/* Fonts */

@font-face {
    font-family: "Intel One Mono Bold";
    src: url("/IntelOneMono-Bold.woff2");
}

@font-face {
    font-family: "Intel One Mono Medium";
    src: url("/IntelOneMono-Medium.woff2");
}

/* Important tags and containers */

html,
body,
#root {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Intel One Mono Medium", monospace;
    color: rgb(220, 220, 220);
    z-index: 0;
}

#canvas-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Entry button and background */

html {
    background-color: var(--dark-bg-color);
}

#entry-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#entry-button {
    position: absolute;
    /*top: 50%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--button-bg-color);
    border: 2px solid var(--light-bg-color);
    padding: 6px;
    font-size: medium;
    animation: fade-in normal 4s;
}

#entry-button:hover {
    background-color: var(--medium-bg-color);
}

#entry-button:active {
    background-color: var(--button-bg-color);
}

#the-rat-text {
    letter-spacing: 0.15em;
    animation: rainbow infinite 2s;
}

#ratscii {
    position: relative;

    /*top: 25%;*/
    margin-bottom: 270px;
    white-space: pre-wrap;
    font-size: xx-small;
    transform: scale(0.8);
    user-select: none;
    animation:
        fade-in normal 8s,
        rainbow infinite 2s;
}

@keyframes rainbow {
    100%,
    0% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}

/* Counter & text at top */

#counter-container {
    width: 100%;
    text-align: center;
    font-size: 1.7vw;
    margin-top: 0.5em;
}

#counter {
    font-family: "Intel One Mono Bold", monospace;
}

/* Background */

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-bg-color);
    z-index: -1;
}

/* Sidebar */

#sidebar {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    width: 300px;
    z-index: 1;
}

#sidebar-toggle-button-container {
    height: 100%;
    width: 20%;
    display: flex;
}

#sidebar-toggle-button {
    width: 100%;
    height: 100%;
    background: var(--medium-bg-color);
    filter: opacity(0.75);
    border: none;

    filter: opacity(0);
}

#sidebar-toggle-button:hover {
    animation: fade-in 0.5s linear forwards;
}

@keyframes fade-in {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

#sidebar-menu {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--medium-bg-color);
}

.control-container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--light-bg-color);
    margin: 6px 6px 0 6px;
}

.control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--button-bg-color);
    border: none;
    padding: 6px;
    font-size: medium;
}

.control-button:hover {
    background-color: var(--medium-bg-color);
}

.control-button:active {
    background-color: var(--button-bg-color);
}

.control-button img {
    width: 18px;
}

.control-menu-container {
    background-color: var(--button-bg-color);
    padding: 6px;
    border-top: none;
    font-size: small;
}

.control-inner-button {
    border: 2px solid var(--light-bg-color);
    font-size: small;
}

/* Speed Control */

input {
    background-color: var(--light-bg-color);
    border: 2px solid var(--medium-bg-color);
    color: white;
    height: 2.5em;
}

#speed-input {
    box-sizing: border-box;
    margin-right: 5px;
}

/* Audio Control */

#audio-control-buttons-container {
    display: flex;
    gap: 5px;
}

#audio-control-buttons-container button {
    width: 100%;
}

/* Info */

a {
    color: rgb(40, 80, 250);
}
